Image Generator.json
{
  "name": "Image Generator",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        -64
      ],
      "id": "bc7fad34-0403-4bfc-b230-8c6d1c77e405",
      "name": "When clicking ‘Execute workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "26349779-d099-4e97-88d8-1dd97ab26cf4",
              "name": "topic",
              "value": "baby elephants",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        -64
      ],
      "id": "c59d627f-e23b-4fee-a2dd-291213ba0960",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n     \"query\": \"baby elephants\",\n     \"max_results\": 5,\n     \"include_answer\": true\n   }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -48,
        -64
      ],
      "id": "72556e68-daf1-4d36-8132-b5178eb34d12",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-3-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a fun social media writer. Using these facts: {{ $json.answer }}, write a short cheerful post about baby elephants. Give me a catchy title, a few fun sentences, and 3 hashtags."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        160,
        -64
      ],
      "id": "b570c814-802e-4537-b97f-a2d7176bf93b",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "aqRaM5dopOnPQ48J",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudflare.com/client/v4/accounts/0eb86940a0ddc6ee8ba5c283643ec766/ai/run/@cf/black-forest-labs/flux-1-schnell",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"prompt\": \"a futuristic red and gold robotic superhero in flying armor, glowing chest light, cartoon style\" }",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        512,
        -64
      ],
      "id": "d956d3a9-e706-4262-89ad-d3105861966c",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "YOUR_ID",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        928,
        -64
      ],
      "id": "2278a193-5f5b-4740-a5d5-55f5c70ae153",
      "name": "Send a photo message",
      "webhookId": "9cc51aca-7571-4b94-a734-40d0312bcd16",
      "credentials": {
        "telegramApi": {
          "id": "TYnODYwQfAlOtMwU",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "result.image",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        720,
        -64
      ],
      "id": "5702ffd4-b279-4e0b-8482-ceb7f2c0c280",
      "name": "Convert to File"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c06ce294-865d-4ae5-8556-cc4f796d4bd7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "23bf5054cc191098b0ada79b3ff1fb41ea6c26f85c7b4cdf12056b47305375a1"
  },
  "nodeGroups": [],
  "id": "zfqm2aBc8DXXqsLl",
  "tags": []
}